THEGUARDIAN_API_KEY=xxxxxxxxx
THEGUARDIAN_NEWS_SUMMARY_MAX_LENGTH=500

OPENROUTER_API_KEY=sk-xxxxxxxxx
OPENROUTER_MODEL_NAME=your_openrouter_model_name

HF_TOKEN=hf_xxxxxxxxx
EMBEDDING_MODEL_NAME=your_embedding_model_name_from_hf

CHROMA_DB_DIR=your_chroma_db_local_dir
EMBEDDING_MODEL_CACHE_FOLDER=your_embedding_model_cache_local_dir

VECTORSTORE_SEARCH_K=3